@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

body {
  @apply bg-slate-50 dark:bg-slate-900 text-slate-900 dark:text-slate-100;
}